#places-photo-label {
  position: relative;
  width: 100%;
}

#places-photo-label::after {
  position:absolute;
  background-color: $light-gray;
  color: $blue;
  width: 100%;
  height: 38px;
  border-radius: 25px;
  top: 30px;
  left: 0;
  margin-bottom: 2em;
  content: "Add Photos";
  display: flex;
  justify-content: center;
  align-items: center;
}