.home-page{
    height: 100vh;
    width : 100vw;
    background-image: url("https://res.cloudinary.com/detnzqadn/image/upload/v1598463761/photo-1543007630-9710e4a00a20_jg8nze.jpg");
    background-position: center;
    background-size: cover;
}

.title{
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sub-title{
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.under-search{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.search_genre{
    margin: 0;
}


.search-bar{
    border-radius: 20px;
    background: none;
    width: 90vw
}

.search-bar::placeholder{
    color: white;
    text-align: center;
}

.search-bar:focus{
    color: white;
    background: none;
    border: 1px solid white;
    text-align: center;
}

.submit-btn{
    background: none;
    border: none;
    position:absolute;
    right: -1;
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }
  
  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }
  
    to {
      bottom: 0;
      opacity: 1;
    }
}

.genre-container{
   height: 118px;
   width: 132px;
   background-size: cover;
   background-position: center;
   border-radius: 20px;
   border: 1px solid #FFFFFF;
   box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.genre-title{
    color:white;
    text-align: center;
    vertical-align: middle;
    line-height: 118px; 
    font-weight: bold;  
    font-size: 20px;
    text-shadow: 4px 4px 4px #000000;
}

.modal-content{
    background: none;
}

.light-background{
    background: linear-gradient( rgba(255,255,255,0.5) 4%,rgba(255, 255, 255, 0.8) 100%)
}