.show-photo {
  height: 100px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
}

.show-main {
  height: 500px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;

}

.place-container {
  margin-top: -60px;
  background-color: #ffffff;
  border-radius: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
}

#show-title {
  font-size: 24px;
  margin-bottom: 5px;
}

#show-description {
  font-size: 14px;
}
