.tags-container{
  height: 25px;
  width: 75vw;
  margin-left: -5px;
}

.tag {
  margin: 0 5px;
  height: 20px;
  padding: 0 10px;
  background: #F0F0F0;
  border-radius: 5px;
}

.tag-genre {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  color: #47768E;
}
